<%- include("partials/head") %>
  <body>
    <div class="d-flex flex-column p-5">
        <div class="d-flex justify-content-between">
            <h1>Inventory Management System</h1>
            <a href="/items/addForm" class="btn btn-primary btn-lg">Add Product</a>
        </div>
    <div class="pt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <% for(let item of items) { %>
                <tbody class="table-group-divider">     
                    <tr>
                        <th class="py-4" scope="row"><%= item.id %></th>
                        <td class="py-4"><%= item.name %></td>
                        <td class="py-4"><%= item.category %></td>
                        <td class="py-4"><%= item.quantity %></td>
                        <td class="py-4"><%= item.price %></td>
                        <td class="py-4"><%= item.description %></td>
                        <td class="py-4"><%- moment(item.createdAt).format( 'MM/DD/YYYY') %></td>
                        <td class="py-4">

                                <!-- Edit Button -->
                                <a href="/items/<%= item.id %>" class="btn btn-info">View</a>

                                <!-- Edit Button -->
                                <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a>
                                
                                <!-- Delete Form -->
                                <form action="/items/<%= item.id %>?_method=DELETE" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                </form>
                        </td>
                    </tr>
                </tbody>
                <% } %>
            </table>
        </div> 
    </div>
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
